<meta charset="UTF-8">
<title><%= title %></title>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
<script src="/javascript/category.js"></script>
<script src="/javascript/main.js"></script>
