
	<main>
		<div class="row">
			
			<div class="col-sm-12">
				<div id="contentArea" class="jumbotron">
					<!--<h1>This is the great <%= title %> </h1>-->
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
					<p>Welcome to templating using EJS</p>
				</div>
			</div>
			
		</div>
	</main>