<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body class="container" data-spy="scroll" data-target=".navbar" data-offset="50">
<header>
    <% include ./partials/header %>
</header>

<h2>In Add/Update data Page</h2>



<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>
