<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body class="container" data-spy="scroll" data-target=".navbar" data-offset="50">
<header>
    <% include ./partials/header %>
</header>

<h2>In article page....</h2>
    <ul>
        <li>Category : <%= body.cat%></li>
        <li>SubCategory : <%= body.subCat%></li>
    </ul>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>