<!DOCTYPE html>
<html>
  <head>
	<% include ./partials/head %>
  </head>
  <body class="container" data-spy="scroll" data-target=".navbar" data-offset="50">
  	<header>
		<% include ./partials/header %>
	</header>
    
	<% include ./about %>
	
    <footer>
		<% include ./partials/footer %>
	</footer>
    
  </body>
</html>