<html>
<head>
    <% include ./partials/head %>
</head>
<body class="container" data-spy="scroll" data-target=".navbar" data-offset="50">

<header>
    <% include ./partials/header %>
</header>

<form id="uploadForm"
      enctype="multipart/form-data"
      action="/api/photo"
      method="post">
    <table class="table table-hover table-striped table-bordered">
        <tr><td colspan="2"><h2>Update Logo...</h2></td></tr>
        <tr>
            <td><input type="file" name="userPhoto" onchange="fileSelect()" /></td>
            <td><input id="fileUploadSubmit" type="submit" value="Upload Image" name="submit" disabled="disabled"></td>
        </tr>
    </table>
    <!--<input type="file" name="userPhoto" onchange="fileSelect()" />-->
    <!--<input id="fileUploadSubmit" type="submit" value="Upload Image" name="submit" disabled="disabled">-->
    <span id = "status"></span>
</form>

<table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
        <!--<th>Select</th>-->
        <th>Image Name</th>
        <th>Thumbnail</th>
    </tr>
    </thead>
    <% for(var i=0; i<fileList.length; i++) {%>
    <tr>
        <!--<td><input type="checkbox" id="logoId-<%= fileList[i] %>"></td>-->
        <td><%= fileList[i] %></td>
        <td><img src="<%= fileList[i] %>" height="50" width="50"></td>
    </tr>
    <% } %>
</table>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script>
    function fileSelect(){
        $("#fileUploadSubmit").removeAttr("disabled");
    }
    $(document).ready(function() {

        $('#uploadForm').submit(function() {
            $("#status").empty().text("File is uploading...");
            $(this).ajaxSubmit({

                error: function(xhr) {
                    status('Error: ' + xhr.status);
                },

                success: function(response) {
                    $("#status").empty().text(response);
                    alert(response);
                    window.location.href = window.location.href
                    console.log(response);
                }
            });
            //Very important line, it disable the page refresh.
            return false;
        });
    });
</script>
</html>
