<!DOCTYPE html>
<html>
  <head>
	<% include ./partials/head %>
  </head>
  <body class="container" data-spy="scroll" data-target=".navbar" data-offset="50">
  	<header>
		<% include ./partials/header %>
	</header>
    
	<h2>In Sub-Category Page</h2>
	<button type="button" id="addSubCategory" class="btn btn-primary">Add Sub-Category</button>
	
	<table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
      	<th>Sub-Category Name</th>
        <th>Category</th>
        <th>Edit/Delete Sub-Category</th>
      </tr>
    </thead>
    <tbody>
    	<% for(var i=0; i<subcats.length; i++) {%>
    		<tr>
    			<td> <%= subcats[i].subCategoryName %> </td>
    			<td> <%= subcats[i].categoryName %> </td>
    	        		<td> 
    	        			<div class="btn-group"> 
    	        				<button type="button" id="editSubCategory-<%= subcats[i]['_id'] %>" class="btn btn-primary">Edit</button>
    	        				<button type="button" id="deleteSubCategory-<%= subcats[i]['_id'] %>" class="btn btn-primary">Delete</button>
    	        			</div> 
    	        		</td>
    		</tr>
    	<% } %>
    </tbody>
  	</table>
	
	
<footer>
	<% include ./partials/footer %>
</footer>
    
</body>
</html>
	

<div id="addSubCategoryDialog" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="addSubCategoryCloseButton" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Sub-Category</h4>
        <p id="subCatWarning" style="display:none" class="text-warning"></p>
      </div>
      <div class="modal-body">
        			<div class="form-group">
						<label for="selectCategory">Select Category:</label>
      					<select class="form-control" id="selectCategory">
						</select>
						
				      	<label for="eu-sub-category">Sub-Category Name:</label>
				      	<input type="text" class="form-control" id="eu-sub-category" name="eu-sub-category">
				    </div>
      </div>
      <div class="modal-footer">
      	<button id="addSubCategorySubmitButton" type="button" class="btn btn-primary">Add Sub-Category</button>
        <button id="addSubCategoryCancleButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="editSubCategoryModalDialog" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="addCategoryCloseButton" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Sub-Category</h4>
      </div>
      <div class="modal-body">
        			<div class="form-group">
				      <label for="eu-edit-sub-category">Category <p id="editSubCatWarning" style="display:none" class="text-warning"></p></label>
				      <input type="text" class="form-control" id="eu-edit-sub-category" name="eu-edit-sub-category">
				    </div>
      </div>
      <div class="modal-footer">
      	<button id="editSubCategorySubmitButton" type="button" class="btn btn-primary">Edit Sub-Category</button>
        <button id="editSubCategoryCancleButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>