body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#addCategory{
	float: right;
}

#addSubCategory{
	float: right;
}

@media (min-width: 768px){
  .navbar {
    min-height: 50px;
  }
}

@media (max-width: 360px){
  .navbar {
    min-height: 50px;
  }
}
